03-wsdl/trip-planner.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://trip_planner.example.org/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    name="BookService"
    targetNamespace="http://trip_planner.example.org/">

   <types>
    <xs:schema targetNamespace="http://trip_planner.example.org/">

    <xs:complexType name="Address">
            <xs:sequence>
                <xs:element name="streetAddress" type="xs:string"/>
                <xs:element name="postalCode" type="xs:int"/>
                <xs:element name="city" type="xs:string"/>
                <xs:element name="country" type="xs:string"/>
                <xs:element name="countryCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>

      <xs:complexType name="Accommodation">
        <xs:sequence>
            <xs:element name="isBooked" type="xs:boolean"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="address" type="tns:Address"/>
        </xs:sequence>
        </xs:complexType>

        <xs:complexType name="PlanItem">
          <xs:element name="id" type="xs:string"/>
          <xs:element name="latitude" type="xs:double"/>
          <xs:element name="longitude" type="xs:double"/>
        </xs:complexType>

    <xs:complexType name="Trip">
            <xs:sequence>
                <xs:element name="uuid" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="dateFrom" type="xs:date"/>
                <xs:element name="dateTo" type="xs:date"/>
                <xs:element name="locationCity" type="xs:string"/>
                <xs:element name="locationCountry" type="xs:string"/>
                <xs:element name="accommodation" type="tns:Accommodation"/>
            </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CalendarItem">
        <xs:sequence>
                <xs:element name="planItem" type="tns:PlanItem"/>
                <xs:element name="from" type="xs:dateTime"/>
                <xs:element name="to" type="xs:dateTime"/>
            </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Calendar">
        <xs:sequence>
                <xs:element name="calendarItems">
                  <xs:complexType>
                    <xs:sequence>
                            <xs:element name="calendarItem" type="tns:CalendarItem"/>
                        </xs:sequence>
                  </xs:complexType>
                </xs:element>
            </xs:sequence>
      </xs:complexType>

      <xs:element name="viewMyTrips">
        <xs:complexType />
      </xs:element>

      <xs:element name="viewMyTripsResponse">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="trip" type="tns:Trip" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="viewMyPlannedItems">
        <xs:complexType />
      </xs:element>

      <xs:element name="viewMyPlannedItemsResponse">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="planItem" type="tns:PlanItem" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="getOrCreate">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="tripName" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="getOrCreateResponse" type="tns:Trip"/>

      <xs:element name="savePlaceItem">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="lat" type="xs:double"/>
          <xs:element name="long" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="savePlaceItemResponse">
        <xs:complexType/>
      </xs:element>

      <xs:element name="saveEventItem">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="lat" type="xs:double"/>
          <xs:element name="long" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="saveEventItemResponse">
        <xs:complexType/>
      </xs:element>

      <xs:element name="setDate">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="tripId" type="xs:string"/>
            <xs:element name="dateFrom" type="xs:dateTime"/>
          <xs:element name="dateTo" type="xs:dateTime"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="setDateResponse" type="tns:Trip"/>

      <xs:element name="setLocation">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="tripId" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
          <xs:element name="country" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="setLocationResponse" type="tns:Trip"/>

      <xs:element name="setAccommodation">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="tripId" type="xs:string"/>
            <xs:element name="accommodation" type="tns:Accommodation"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="setAccommodationResponse" type="tns:Trip"/>

      <xs:element name="addCalendarItem">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="item" type="tns:CalendarItem"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="addCalendarItemResponse">
        <xs:complexType/>
      </xs:element>

      <xs:element name="planMyTrip">
        <xs:complexType/>
      </xs:element>

      <xs:element name="planMyTripResponse" type="tns:Calendar" />

    </xs:schema>
  </types>

  <message name="viewMyTripsRequest">
	<part name="parameters" element="tns:viewMyTrips"/>
  </message>

   <message name = "viewMyTripsResponse">
      <part name = "parameters" element = "tns:viewMyTripsResponse"/>
   </message>

   <message name="viewMyPlannedItemsRequest">
    <part name="parameters" element="tns:viewMyPlannedItems"/>
    </message>

    <message name = "viewMyPlannedItemsResponse">
      <part name = "parameters" element = "tns:viewMyPlannedItemsResponse"/>
   </message>

   <message name="getOrCreateRequest">
    <part name="parameters" element="tns:getOrCreate"/>
    </message>

    <message name = "getOrCreateResponse">
      <part name = "parameters" element = "tns:getOrCreateResponse"/>
   </message>

   <message name="savePlaceItemRequest">
    <part name="parameters" element="tns:savePlaceItem"/>
    </message>

    <message name = "savePlaceItemResponse">
      <part name = "parameters" element = "tns:savePlaceItemResponse"/>
   </message>

   <message name="saveEventItemRequest">
    <part name="parameters" element="tns:saveEventItem"/>
    </message>

    <message name = "saveEventItemResponse">
      <part name = "parameters" element = "tns:saveEventItemResponse"/>
   </message>

   <message name="setDateRequest">
    <part name="parameters" element="tns:setDate"/>
    </message>

    <message name = "setDateResponse">
      <part name = "parameters" element = "tns:setDateResponse"/>
   </message>

   <message name="setLocationRequest">
    <part name="parameters" element="tns:setLocation"/>
    </message>

    <message name = "setLocationResponse">
      <part name = "parameters" element = "tns:setLocationResponse"/>
   </message>

   <message name="setAccommodationRequest">
    <part name="parameters" element="tns:setAccommodation"/>
    </message>

    <message name = "setAccommodationResponse">
      <part name = "parameters" element = "tns:setAccommodationResponse"/>
   </message>

   <message name="addCalendarItemRequest">
    <part name="parameters" element="tns:addCalendarItem"/>
    </message>

    <message name = "addCalendarItemResponse">
      <part name = "parameters" element = "tns:addCalendarItemResponse"/>
   </message>

   <message name="planMyTripRequest">
    <part name="parameters" element="tns:planMyTrip"/>
    </message>

    <message name = "planMyTripResponse">
      <part name = "parameters" element = "tns:planMyTripResponse"/>
   </message>

   <portType name="TripPlannerService">
    <operation name="viewMyTrips">
      <input message="tns:viewMyTripsRequest"/>
      <output message="tns:viewMyTripsResponse"/>
    </operation>
    <operation name="viewMyPlannedItems">
      <input message="tns:viewMyPlannedItemsRequest"/>
      <output message="tns:viewMyPlannedItemsResponse"/>
    </operation>
    <operation name="getOrCreate">
      <input message="tns:getOrCreateRequest"/>
      <output message="tns:getOrCreateResponse"/>
    </operation>
    <operation name="savePlaceItem">
      <input message="tns:savePlaceItemRequest"/>
      <output message="tns:savePlaceItemResponse"/>
    </operation>
    <operation name="saveEventItem">
      <input message="tns:saveEventItemRequest"/>
      <output message="tns:saveEventItemResponse"/>
    </operation>
    <operation name="setDate">
      <input message="tns:setDateRequest"/>
      <output message="tns:setDateResponse"/>
    </operation>
    <operation name="setLocation">
      <input message="tns:setLocationRequest"/>
      <output message="tns:setLocationResponse"/>
    </operation>
    <operation name="setAccommodation">
      <input message="tns:setAccommodationRequest"/>
      <output message="tns:setAccommodationResponse"/>
    </operation>
    <operation name="addCalendarItem">
      <input message="tns:addCalendarItemRequest"/>
      <output message="tns:addCalendarItemResponse"/>
    </operation>
    <operation name="planMyTrip">
      <input message="tns:planMyTripRequest"/>
      <output message="tns:planMyTripResponse"/>
    </operation>
  </portType>

  <binding name="TripPlannerServiceSOAP" type="tns:TripPlannerService">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="viewMyTrips">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="viewMyPlannedItems">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOrCreate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="savePlaceItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveEventItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setDate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setLocation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="setAccommodation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addCalendarItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="planMyTrip">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="TripPlannerService">
    <port binding="tns:TripPlannerServiceSOAP" name="TripPlannerServiceSOAP">
      <soap:address location="http://127.0.0.1:8000/ITripPlanner"/>
    </port>
  </service>

</definitions>