03-wsdl/trip-planner.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://trip_planner.example.org/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    name="BookService"
    targetNamespace="http://trip_planner.example.org/">

   <types>
    <xs:schema targetNamespace="http://trip_planner.example.org/">

    <xs:complexType name="Address">
            <xs:sequence>
                <xs:element name="streetAddress" type="xs:string"/>
                <xs:element name="postalCode" type="xs:int"/>
                <xs:element name="city" type="xs:string"/>
                <xs:element name="country" type="xs:string"/>
                <xs:element name="countryCode" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>


      <xs:complexType name="Accommodation">
        <xs:sequence>
            <xs:element name="isBooked" type="xs:boolean"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="address" type="tns:Address"/>
        </xs:sequence>
        </xs:complexType>


    <xs:element name="Trip">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="uuid" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="dateFrom" type="xs:date"/>
                <xs:element name="dateTo" type="xs:date"/>
                <xs:element name="locationCity" type="xs:string"/>
                <xs:element name="locationCountry" type="xs:string"/>
                <xs:element name="accommodation" type="tns:Accommodation"/>
            </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="viewMyTrips">
        <xs:complexType />
      </xs:element>

      <xs:element name="viewMyTripsResponse">
        <xs:complexType>
            <xs:sequence>
            <xs:element ref="tns:Trip" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </types>

  <message name="viewMyTripsRequest">
	<part name="parameters" element="tns:viewMyTrips"/>
  </message>

   <message name = "viewMyTripsResponse">
      <part name = "parameters" element = "tns:viewMyTripsResponse"/>
   </message>

   <portType name="TripService">
    <operation name="viewMyTrips">
      <input message="tns:viewMyTripsRequest"/>
      <output message="tns:viewMyTripsResponse"/>
    </operation>
  </portType>

  <binding name="TripServiceSOAP" type="tns:TripService">
    <soap:binding style="document"
                  transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="viewMyTrips">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="TripService">
    <port binding="tns:TripServiceSOAP" name="TripServiceSOAP">
      <soap:address location="http://127.0.0.1:8000/ITripPlanner"/>
    </port>
  </service>

</definitions>